html {
  font-size: 62.5%;
}  

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #022c43;
  overflow: hidden;/*  
  overflowen content will be clipped and made invisible.
  Other values: hidden,scroll,visible,auto(similar to scroll but adds scroll when necessary)
  */
  display: block;
  /*
1) defines the type of rendering box of an element.
  display:inline; like <span>, inline element , any height and width properties have no effect
  display:none;  the element is completely removed
  display:inline-block; like inline, but can apply height and width
  display: block; like <p>, block element, starts on new line and takes whole width
  */
}

.dashboard {
  margin-top: 200px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: visible;
  }
}